
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionName</title>
</head>
<body>
	<div>
		Error. Sorry, we haven't this page :( Write to tekhpodderzhka. Kotoroy net.
		Controller: @ViewBag.Controller
		Action: @ViewBag.Action
	</div>
</body>
</html>
